tr
    td(style="height: 130px; background-color: #202124; padding: 0 40px; text-align: center; vertical-align: middle;")
        img(src="./assets/One80_logo.png" alt="Logo" style="width: 199px; height: auto;")